[2017-07-09 18:01] jonwwilkes opened #1 "can't checkout repo"
When doing a git clone I get the following error:

warning: remote HEAD refers to nonexistent ref, unable to checkout.

[2017-07-09 19:08] jermdax commented on #1
If you move into the repository root directory, you can simply checkout the lima-17.1 branch.

See [this link](https://help.github.com/articles/error-remote-head-refers-to-nonexistent-ref-unable-to-checkout/) for more info

[2017-07-10 01:51] yuq commented on #1
Sorry, seems the problem of my init push with different branch name. Have fixed it.

[2017-07-10 01:51] #1 closed

[2017-10-10 20:49] kozross opened #3 "Completeness and usability question"
How complete and/or usable is this driver? Would I be able to compile it for an existing ARM device running something Linux-based and have it work?

[2017-10-11 01:26] yuq commented on #3
As I know, there're several ARM chip have been tested with this driver: Allwinner H3, A20, RK3xxx. And now the driver is in an early staging that can only support some simple application like:
https://github.com/yuq/gfx/tree/master/gbm-surface

As xserver and wayland, this driver is not able to support yet.

[2017-10-30 19:50] paolo-caroni opened #4 "API aim"
On the title of this project we I can read "OpenGL driver for ARM Mali400". Mali  200/300/400/450/470 have a proprietary driver only for OpenGL ES. Is full OpenGL API driver possible on mali utgard? Freedreno project have port full OpenGL on adreno that also have only OpenGL ES driver. What is your opinion about this? Cheers,
Paolo

[2017-10-30 23:49] yuq commented on #4
Not sure it's possible to reach OpenGL for mali400, because we haven't done full OpenGL ES yet. "OpenGL" just a name, I mean this class of API.

[2017-11-08 19:00] onoraba commented on #3
and we all waiting for something GPUseful on ARM SoC's,
please make it yuq, you're our only hope

[2017-11-09 00:34] yuq commented on #3
Thanks for your encouragement, not only me, some other guys like Erico and Icenowy are also working on this driver. Hope we can make it finally.

[2017-11-12 04:06] vakkov commented on #3
Hello @yuq!
Is there some kind of a rodamap/ list of things that have to be done/fixed so that we can contribute?

[2017-11-13 04:01] yuq commented on #3
Hi, I created a wiki page that briefly describe the status and TODO of this project:
https://github.com/yuq/mesa-lima/wiki
I'll update it when something changes in the future.

[2017-11-13 09:48] vakkov commented on #3
@yuq, I noticed that you are working over a mainline kernel version for the H3. Do you reckon if it is OK to use a 3.4 kernel tree for the A20?

[2017-11-13 09:53] yuq commented on #3
It's not OK for using such an old kernel for lima dev. Because the kernel driver uses various kernel interfaces like DRM, DMA_BUF which are quite different between 4.13 and 3.4 kernel.

[2017-11-15 04:31] vakkov commented on #3
@yuq, what flags are you building with?
I did it with:
 --enable-opengl --enable-gles2 --enable-gles1 --disable-glx --enable-egl --enable-gallium-egl --with-egl-platforms=drm --with-gallium-drivers=lima --without-dri-drivers

[2017-11-16 00:33] yuq commented on #3
Mine is:
--with-gallium-drivers=lima --with-dri-drivers= --with-egl-platforms=drm,x11 --disable-xvmc --disable-vdpau --enable-debug

[2017-11-16 06:15] vakkov commented on #3
@yuq, do you install it in the default path (/usr/local) or somewhere else?

P.S. I have a problem while compiling the off-screen rendering example - https://pastebin.com/cVz5cjzS
But it's highly possible that the problem comes from my cross-compiled mesa, so now i'm setting up an ARM chroot... It smells like bad linking to me

[2017-11-16 06:31] yuq commented on #3
I cross compile the kernel, but for mesa and gbm-surface, I compile them on the board natively (install to /usr/local). Another thing is you need to install any required lib on the board by mesa, like libdrm. From the log, you may need a newer libdrm on the board. I just use the latest libdrm master and compile/install on the board natively.

[2017-11-16 07:09] vakkov commented on #3
That's what I am also doing, but the board is really slow, and because of libtool's messed up "prefix" installing a cross-compiled (on pc) Mesa to the board is tricky; i think that going with a QEMU chroot is an option - https://gist.github.com/mikkeloscar/a85b08881c437795c1b9;  I hope that I'll soon find a way to compile everything on a x86_64 host and post the results here :D the Allwinner board

[2017-11-16 11:12] enunes commented on #3
I am cross compiling the entire system using Buildroot https://buildroot.org/ , I just made a trivial modification to the mesa3d recipe to also include an option for lima. I use the _OVERRIDE_SRCDIR feature (https://buildroot.org/downloads/manual/manual.html#_using_buildroot_during_development) to keep a local git clone of the relevant repositories (linux-lima, mesa-lima) so that this source is us

[2017-11-16 11:25] enunes commented on #3
if there is interest I can push a "buildroot-lima" development repository to my github with these changes and my current configs so that people can just clone it and run a couple of commands to generate a cross compiled full image. I can only provide tested configs for Cubieboard2 (A20) and NanoPi M1 (H3) though since these are my test targets now.

[2017-11-16 12:22] vakkov commented on #3
@enunes That would be cool

[2017-11-18 11:15] mmind commented on #3
For completenes sake or interested people, I've gone the complete opposite way. As my whole environment (including the boards) is Debian based, I've integrated the lima work into the Debian mesa packaging so I can simply do a "dpkg-buildpackage" on the source. (https://github.com/mmind/mesa-lima)

[2017-11-18 13:36] enunes commented on #3
I have pushed my Buildroot "extension" to github, along with some quick start instructions and development workflow for Buildroot: https://github.com/enunes/buildroot-external-lima
It is what I have been using so far.
This will also cross-compile the gbm-surface and gbm-bo-test examples that we have been using out of the box.
@vakkov if you are interested, give it a try.
@yuq if you feel like it i

[2017-11-18 15:08] vakkov commented on #3
@enunes thanks, will give it a try;
I ended up doing the same as @mmind since I am also Debian-based; my problem is that for some I can't have the x11 and Co armhf (the multiarch method) dependency packages installed on the host; @mmind, are you just doing "dpkg-buildpackage -aarmhf" on your x86/x64 machine? I ended up doing some weird linking to an armhf chroot so that I can use arm-linux-gnueabi

[2017-11-18 15:23] mmind commented on #3
@vakkov actually I'm also just compiling natively on one of the beefier Rockchip boards in my boardfarm.

[2017-11-18 16:00] vakkov commented on #3
@mmind and how much time does it need to build the whole package?

[2017-11-18 16:53] mmind commented on #3
@vakkov on my rk3288, around one hour

[2017-11-30 05:04] anarsoul opened #7 "Implement PP uniform support"
From: https://github.com/yuq/linux-lima/issues/5

There're two reference for this topic:

lima-ng: https://github.com/limadriver-ng/lima
the reverse engineering tool: https://github.com/yuq/mali-syscall-tracker
1 can be used directly for the command stream setup for the PP uniform; 2 can be used to dump close source driver command stream setup.

For mesa-lima work:

lima_draw_vbo() handle the PIPE

[2017-12-07 19:08] PabloPL commented on #3
There is nice entry on VC04 wiki, how to test mesa without breaking existing distribution
https://github.com/anholt/mesa/wiki/Building-Mesa-for-VC4
So it should be possible to have/test binary and open source drivers on the same image.

[2017-12-17 01:37] anarsoul commented on #7
So I got pp uniforms working. Things I figured out today:

1) render->uniform_address is address to a pointer to uniforms, not a direct pointer to uniforms. I'm not sure why double indirection is used here though.
2) uniforms are stored in fp16 format

I'll clean up code tonight and then I'll send a pull request.

[2017-12-17 04:35] yuq commented on #7
That's great! As for the two points:
I guess render->uniform_address should point to a per uniform descriptor array which contains each uniform's address and meta info. Maybe the meta info can be used to specify the size of each components (fp16 or fp32). If this can't be find in lima-ng, we have to do reverse engineering by the mali-syscall-tracker tool.

[2017-12-17 05:15] anarsoul commented on #7
I couldn't find it in lima-ng. Looks like they always use fp16 for pp uniforms, see symbol_attach_data() in limare.c

[2017-12-17 05:20] anarsoul commented on #7
And there's another issue - I'm not sure if it's with uniform fetch or with compiler itself. Basically, this shader doesn't work:

[code]
It always works as if diffTest = 1.0 no matter what value is.

[2017-12-17 05:24] anarsoul commented on #7
Looks like it's not related to uniforms. If I do 'gl_FragColor = vec4(diffTest * uAnotherColor.rgba);' it works as expected

[2017-12-17 05:47] anarsoul commented on #7
I believe it's some compiler issue.

Feel free to play with https://github.com/anarsoul/mesa-lima/commits/lima-17.2-pp-uniform and https://github.com/anarsoul/kmscube

My kmscube fork has '-M uniform' and '-f floatval' options. First one make kmscube to use uniforms in fragment shader to pass color, second option is the value of 2nd uniform (diffTest in shader above)

[2017-12-17 07:12] yuq commented on #7
You may run with LIMA_SHADER_DEBUG=pp ./kmscube xxx to see the fragment shader compiler process and result.

[2017-12-17 07:47] anarsoul commented on #7
I'm afraid I don't know how to interpret its output:

https://gist.github.com/anarsoul/342a75689b4ab310acd1da2135c0fa57

But I'll try to dig into it tomorrow.

[2017-12-17 09:02] yuq commented on #7
I give it a check by hand, seems OK. Maybe the other part has problem with varying setup or GP output. Another debug method is LIMA_DUMP_COMMAND_STREAM=1 to print the command stream especially the varying result after GP output. It can be also compared to maili-syscall-tracker output.

[2017-12-17 17:24] anarsoul commented on #7
I believe something's wrong with scalar multiplication, i.e. in my case diff * diffTest returns diff, not multiplication result

[2017-12-17 17:39] anarsoul commented on #7
Yeah, ppir_codegen_encode_scl_mul() is not implemented yet.

I implemented it and now it works fine.

[2017-12-18 02:05] yuq commented on #7
Oh, you're right. I forgot to implement scalar mul/add after enable the scheduler to put node into it.

[2017-12-18 03:16] anarsoul commented on #7
Merged in  #11

[2017-12-18 03:16] #7 closed

[2017-12-18 04:02] anarsoul opened #12 "Implement texture support"
As per wiki, both PP compiler and command stream need be changed

[2017-12-18 21:26] PabloPL opened #13 "Implement glScissor support"
It's mostly done on https://github.com/yuq/mesa-lima/pull/10.
There is only one case to handle - when scissors = (0,0,0,0)

Limadriver in this case is not doing any scissors and displaying full/normal image (probably a bug)
Mali binary driver is generating only following plbu commands (dump from egl_quad_flat from limadrver tests)

0x00010000 0x1000010c // BLOCK_STEP
0x1d001d00 0x10000109 // TILED

[2017-12-19 10:14] PabloPL commented on #13
And this is what is generated by mesa currently
[code]
@yuq Any ideas how to fix this? I've tried to skip adding plbu cmd if scissor is zero, but it didn't worked (it was generating second plbu cmd list empty).

[2017-12-19 11:36] yuq commented on #13
PLBU cmd is necessary for every frame. You may try to generate binary mali driver like PLBU cmd when scissor is 0.

[2017-12-19 11:40] PabloPL commented on #13
I've already done this and posted in first comment (with some comments).

[2017-12-19 11:41] yuq commented on #13
BTW. do we need to do anything if scissor is 0?

[2017-12-19 11:43] PabloPL commented on #13
I think we should render empty screen (since we set that we don't want anything to display).

[2017-12-19 11:51] yuq commented on #13
To my understanding, if set scissor to 0, no following draw should apply to the frame buffer, including the glClear(). So this frame buffer should remain the same as last none-zero draw result. Can you make an experiment by running the scissor test on a normal desktop with AMD/NV mesa driver to see what's expected result? If we need do nothing, we may skip the draws when scissor is 0.

[2017-12-19 11:55] PabloPL commented on #13
Made a test using mali binary driver - it rendered an empty screen (dumped using mali syscall tracker).
Will do the same with intel in a few minutes (since this is gpu which i have on my laptop) and update comment.

Edit 1:
On intel gpu i got the same screen/window (empty/filled with black color).

GL_VENDOR "Intel Open Source Technology Center"
GL_RENDERER "Mesa DRI Intel(R) HD Graphics 5500 (Bro

[2017-12-19 12:04] PabloPL commented on #13
I'm not happy with current implementation, but maybe we could merge it and leave a comment on wiki that this edge case is not supported yet (since there are probably more important things to implement).

[2017-12-19 12:52] yuq commented on #13
Then we can just skip draws when scissor=0 for now.

[2017-12-19 15:16] PabloPL commented on #13
Implemented. Now it's working for me, for all cases.

[2017-12-21 05:56] anarsoul commented on #12
Hi @yuq,

I'm looking into implementing texture support. So far I have an issue with PP compiler.

The problem is that texture fetch instruction takes coords from pipeline and outputs to pipeline, so in order to read from texture we need at least 3 instructions in row:

1) fetch varying to fetch coords
2) texture fetch instruction
3) any ALU instruction that allows to mov pipeline reg to any other

[2017-12-21 08:07] yuq commented on #12
Hi, I think you can
1. generate a single load_texture ppir_node for nir_text_instr in nir.c
2. lower the load_texture node to have a load_varying (maybe a new node type load_tex_coord) if it does not get its coord from a load_varying node but some ALU node output in lower.c
3. insert load_texture node to its usage instr directly if only one instr will use it; create a new instr to insert it if the

[2017-12-21 08:12] yuq commented on #12
dup load_varying for load_texture in step 3 may also be done in step 2 and all load_texture input can be load_tex_coord.

[2017-12-28 22:47] anarsoul commented on #12
Hm, looks like there's some issue with register allocation, see:

[code]
after node_to_instr it becomes:
[code]
But register allocation result is:
[code]

Note that mov for ld_tex stores to reg0 in instr2 and so does ld_var in instr1.

Any ideas what could be wrong?

[2017-12-28 23:52] anarsoul commented on #12
Nevermind, I found a bug in my code.

[2017-12-29 01:12] yuq commented on #12
Seems you'll always create a mov for ld_tex even it has only one usage. Please consider insert the ld_tex directly into its only one usage alu node instr (in this case the node 4 and instr 0) to save a reg alloc.

[2017-12-29 01:21] anarsoul commented on #12
@yuq, one step at a time. I'm trying to get it working first. Now I'm stuck with mul inputs. Now reg allocator assignes output reg for mov for ld_var correctly, but mul input is not correct.

[code]

[2017-12-29 01:23] anarsoul commented on #12
Looks like mul srcs are always ppir_target_type_ssa with index = 0. Could you point me to the place where compiler assignes indexes for src ssas?

[2017-12-29 01:33] yuq commented on #12
src ssa is just a pointer reference the dest ssa, so in your case seems the src ssa not point to the mov dest ssa (as the dest ssa is already 4). Please check your mov node create code to see if you have replaced the mul src to the mov dest.

[2017-12-29 01:49] yuq commented on #12
BTW. I usually did this by
ppir_node_replace_child
or
ppir_node_replace_succ

[2017-12-29 02:05] anarsoul commented on #12
Thanks!

[2017-12-29 02:59] anarsoul commented on #12
Thanks, I got codegen working. WIP branch is here: https://github.com/anarsoul/mesa-lima/commits/lima-17.3-textures

Now I'm working on command stream setup. I hope that I'll get initial version working by the end of year :)

[2017-12-29 03:16] yuq commented on #12
Glad to hear that.

[2017-12-29 21:38] PabloPL commented on #13
Working implementation (for both zero and non zero scissor) in https://github.com/yuq/mesa-lima/pull/15.

It turns out that we can't skip drawing.
We need to
- create plb cmd header (if not already created) and skipp all other plb cmds
- skip creating vs cmd list
Then it's working fine.

[2017-12-29 22:00] anarsoul commented on #12
Just FYI: I found a bug in pp/codegen.c: bitcopy(). It doesn't increment pointer if dst_offset is > 32. As result, it overwrites previous instruction.

Looks like it could be fixed by adding 'dst += (dst_offset >> 3);' at the beginning of this function.

[2017-12-30 01:54] yuq commented on #12
Right, I'll fix it soon.

[2017-12-30 03:19] yuq commented on #12
Fixed in
https://github.com/yuq/mesa-lima/commit/b31af110338b059c6bb53349bc188eecf85fda37

Seems only the memcpy path has the problem.

[2017-12-30 07:39] anarsoul commented on #12
Thanks, codegen seems to work fine now according to disassembly (btw, I believe we really need disassembler in lima driver):

[code]

[2017-12-30 19:21] anarsoul commented on #12
I'm stuck with command stream setup. Looks like it doesn't event attempt to read textures - even if I set it to a pretty random address I see no mmu fault. Looks like sampler always reads zero -- cube is completely black.

Could you please dump 'kmscube -M rgba' using proprietary driver for me? I have no proprietary driver installed and it'll take a while to setup it up since I've never done it be

[2017-12-31 13:42] yuq commented on #12
Sorry, I can't dump kmscube directly either. Because proprietary driver doesn't support GBM/KMS which is needed by kmscube -M rgba. You need to modify it for being able to run within the X11 and not use GBM. And I recommend you setup such a proprietary driver environment (may be easily done by just using the official OS image of the board) to be able to do some experiment to reverse engineering.

[2017-12-31 13:53] Icenowy commented on #12
2017年12月31日 21:43于 Qiang Yu <notifications@github.com>写道：

The wayland variant of blob should support GBM.

[2017-12-31 16:51] PabloPL commented on #12
Maybe someone will find it usefull.
[Here](https://bitbucket.org/snippets/PabloPL/BezMAp/orange-pi-pc-dual-kernel-boot-for-lima-and) is my modified boot.cmd (from official armbian image, orange pi pc).
If it finds /boot/.lima file, it'll boot mainline kernel from /boot/lima/,
othervise it'll boot official 3.4 kernel with mali binary driver.
So switching between lima and mali is just a matter of to

[2017-12-31 16:53] PabloPL commented on #13
TODO
 - we should set scissor (non zero case) only for the first draw that enabled the scissor and for latter draw only if scissor is dirty
- check why scissor is not affecting bounds of region cleared by glClear

[2018-01-01 03:49] anarsoul commented on #12
Thanks @Icenowy, I'll try to get wayland driver working on mainline kernel.

[2018-01-02 00:22] anarsoul commented on #12
@Icenowy unfortunately Mali driver for Wayland doesn't implement gbm_bo_map, so kmscube -M rgba won't work with it :(

[2018-01-02 01:47] yuq commented on #12
I think you can modify the kmscube -M rgba to use normal glTexImage2D like this:
http://www.opengl-tutorial.org/beginners-tutorials/tutorial-5-a-textured-cube/

So that you can use the X11 mali driver for the dump.

[2018-01-02 01:47] anarsoul commented on #12
@yuq already done, see https://github.com/anarsoul/kmscube/commit/4067f3d8a58146bdeb4e1c40d3c38d463f95a942

I'm using wayland driver btw, do I don't need X11

[2018-01-02 01:48] Icenowy commented on #12
2018年1月2日 09:47于 Qiang Yu <notifications@github.com>写道：

P.S. do your dump program support any version of blob?

[2018-01-02 02:12] yuq commented on #12
mali-syscall-tracker should only support newer version of mali driver (r4p0) which uses different ioctl than the old one. The original lima-ng syscall tracker (in wrap dir) can support older versions.

[2018-01-02 02:13] anarsoul commented on #12
@yuq I'm running r6p0 and looks like mali-syscall-tracker doesn't support it. Dumps don't look sane.

[2018-01-02 02:20] yuq commented on #12
Oh, maybe r6p0 changes the ioctl too. My OrangePI uses r4p0, so mali-syscall-tracker is written for it.

[2018-01-02 02:22] anarsoul commented on #12
Yeah, it changes ioctls, I compared mali_utgard_ioctl.h for r4p0 and r6p0 and they differ a lot.

[2018-01-02 02:25] anarsoul commented on #12
Guess I have to rewrite mali-syscall-tracker for r6p0 :)

[2018-01-02 06:56] yuq commented on #12
another option is using r4p0

[2018-01-02 06:57] Icenowy commented on #12
2018年1月2日 14:56于 Qiang Yu <notifications@github.com>写道：

For 64-bit this not an option -- no blob exists.

I think the development device of anarsoul should
be a Pinebook.

[2018-01-02 07:14] anarsoul commented on #12
@Icenowy actually it's Pine64 LTS, but it doesn't matter. I run pretty same software on Pinebook and Pine64 LTS, only bootloader and dtb differ. It's a bit easier with Pine64 LTS, since it has gigabit ethernet port and I'm booting over NFS. I have USB to Ethernet adapter for Pinebook, but it's only 100MBit.

You're right - it's 64 bit, so running r4p0 is not an option.

[2018-01-02 07:32] yuq commented on #12
OK, I didn't know that. If you want a quick dump, I can run your ported kmsbube -M rgba on my X11 OrangePI.

[2018-01-02 07:48] anarsoul commented on #12
It still depends on libgbm, so I'm not sure whether it'll work on X11. The trick is that 64-bit mali driver for Wayland provides its own libgbm implementation.

[2018-01-02 16:25] PabloPL opened #16 "Implement glBlend"
Findings about blending:

It looks like binary driver is generating the same alpha_blend value (in render_state) when:
- only glEnable(GL_BLEND) is called
- no glEnable(GL_BLEND) is called (so blending is disabled)

Generated value (0xfc3b1ad2) is calculated from
[code]
Mesa is behaving little different:
- when only glEnable(GL_BLEND) is called, it's calculating the same value as binary driver
- w

[2018-01-03 03:37] anarsoul commented on #12
Got initial version working (RGBA textures only for now, and a lot of values are hardcoded) I dumped texture descriptor and turns out I made some typos (and used logical or instead of bit or). There's some distortion I can't explain yet, see https://photos.app.goo.gl/U9pJlm3gOWbNDXL92

Some lines break and become thicker or thinner for some reason. All the lines should be straight.

[2018-01-03 06:06] yuq commented on #12
Nice to hear that. I can't see the photo as I have some network problem now, maybe you can send it to gist which I can access always.

[2018-01-03 06:32] anarsoul commented on #12
It's actually video. But you can test the code by yourself - I pushed my hackish code to https://github.com/anarsoul/mesa-lima/commits/lima-17.3-textures

I think something could be wrong with vertex shader compiler, since I compared pp code (almost the same, one extra instruction due to extra mov) and texture descriptor (totally the same) with binary driver, so I believe the only part that differ

[2018-01-03 10:59] yuq commented on #12
I've run your code and see strange texture result too:
https://drive.google.com/open?id=1jSdL579VjO0W24UwGiM8WRNGGbdEFai6
It seems two triangles in the same face whose texture mismatch in the share edge.

But use LIMA_DUMP_COMMAND_STREAM to show the vertex shader result, it's correct for the texture coord (kmscube has no calculation for tex coord, so it's hardly to be wrong).

[2018-01-03 16:28] anarsoul commented on #12
@yuq but vertex shader passes texture coordinates to fragment shader, maybe there's an issue in storing varyings? Or in fetching attributes?

[2018-01-03 18:32] PabloPL commented on #16
This functionality looks working from begining (when those two functions were added), it was missing only special handling for blending disabled case.
I've checked look of few images generated by mesa and compared them with result of the same code on intel gpu.

I've also compared values generated by lima_blend_func and lima_blend_factor with value generated by binary shader and they look exactly

[2018-01-03 21:53] PabloPL commented on #16
TODO:
Looking at lima-ng sources alpha_blend could containt (at first byte) color mask.
Need to check it (and fix either now or in next patch).

[2018-01-03 22:08] anarsoul commented on #12
Or in fetching attributes...

[2018-01-04 01:04] yuq commented on #16
Yes, it doesn't work properly when blend disabled and there's something need to be investigated (comment in the code), so I disable it.

[2018-01-04 01:12] yuq commented on #12
It can't be the attributes fetching, because the tex coord result is correct, attribute fetching happens before that. As the varying store, the result seems as expected in the code (from lima-ng), but you can compare it with the mali binary dump. If the storing is wrong, I think the cube display would be obviously wrong, but currently we can only observe a small texture bias.

[2018-01-04 02:47] anarsoul commented on #12
Any idea what could be wrong?

[2018-01-04 03:04] yuq commented on #12
I‘ve no idea either expect compare the command stream, GP/PP frame, render state with the binary mali driver dump. Oh, it reminds me that if the glPosition calculation is slightly wrong, the texture result will look like this too. We can compare the glPosition result with the binary mali driver to see if there's any difference (or with hand on calculation).

[2018-01-04 03:06] anarsoul commented on #12
What's wrong about glPosition?

[2018-01-04 03:13] yuq commented on #12
I mean the vertex shader output for glPosition which is the vertex position (x, y, z, w) which will be used by fragment shader to interpolate the varying and fragment pixel. If the position is calculated wrong (by vertex shader) with small bias, the texture will look like with some bias too.

[2018-01-04 03:26] yuq commented on #12
I'll check the glPosition result first and see if there's such bias. If so, there must be some bug in the vertex shader. You may focus on your code clean up for now.

BTW. could you send me a mali binary dump with draw_cube_tex(0)?

[2018-01-04 03:29] anarsoul commented on #12
@yuq, see 'Output transformation' section in https://limadriver.org/Lima+ISA/

[code]

And I can't find where it's done anywhere in GP compiler.

[2018-01-04 03:37] yuq commented on #12
It's done in NIR compiler, see:
https://github.com/yuq/mesa-lima/commit/f54ae33e81297b32d4ea596bc22a4be80a4a91bf

But I removed the gl_position_actual.w calculation because I always see 1 for it.

[2018-01-04 04:09] anarsoul commented on #12
Here's dump from proprietary driver. Please note that I haven't added proper r6p0 support to mali-syscall-tracker, so only useful contents is memory...

https://drive.google.com/file/d/1Q76QlfbSkZtmOTs-xp33NlpSjY5axEmK/view?usp=sharing

[2018-01-04 12:43] yuq commented on #12
Thanks for the dump. After comparing the gl_Position result, it's confirmed that mesa-lima is different than the mali binary using same draw_cube_tex(0):
305.655640 472.256653 0.501393 1.000000 /* mesa lima */
288.898315 479.424042 0.501506 0.133233 /* mali binary */

So there should be some bug in the vertex shader stage. I'll try to find out.

[2018-01-05 14:12] yuq commented on #12
Following two commits fix the problem:
https://github.com/yuq/mesa-lima/commit/cd970666e9ecbce1eccfd5dfc519cb71ffe48337
https://github.com/yuq/mesa-lima/commit/b93b19f0456f84a99b8627966e00266f0adf3970

[2018-01-05 17:50] PabloPL commented on #16
Confirmed - color mask value is also stored in alpha_blend field.
Created separated PR for this https://github.com/yuq/mesa-lima/pull/18.

Is there anything else done with this issue or we can close it (i wasn't able to find any information about independ blend support on mali4xx :/).

[2018-01-06 05:28] yuq commented on #16
I think no more for blend now. We can handle only zbuf case after we have depth & stencil support. Thanks for your work.

[2018-01-06 10:20] #16 closed

[2018-01-06 10:20] PabloPL opened #19 "Implement stencil support"

[2018-01-07 09:52] Icenowy commented on #12
@anarsoul I have tried out your textures branch (rebased on newest lima-17.3).

When trying to run glmark2-es2-drm, the following error appears:

[code]

[2018-01-07 19:14] anarsoul commented on #12
@Icenowy I think it's not ready for glmark2 yet.

[2018-01-10 18:07] jfdelnero opened #20 "Banana PI R2 / Mediatek MT7623 support ?"
Hi,

I am trying to make mesa-lima working on the Banana PI R2. This board is based on the MT7623 and have a Mali 450 GPU.

The problem is that it seems that the Mediatek DRM driver included in the board's kernel doesn't seem to expose the render node (no /dev/dri/renderD128 available).
I will probably have to patch/change the kernel's DRM configuration.

What is the right DRM driver to use with m

[2018-01-11 01:12] yuq commented on #20
I guess you're using the DRM driver for the display module of MT7623. Mali GPU has its own DRM driver at: https://github.com/yuq/linux-lima

For off-screen rendering, you just need the Mali GPU DRM driver, while for on-screen rendering you need both Mali GPU DRM and display DRM for MT7623. For on screen rendering mesa-lima only support sun4i display DRM driver now.

[2018-01-11 07:42] jfdelnero commented on #20
Thanks !
This appears to be the full kernel. Is there a way to get just the driver or the patches ?

[2018-01-11 08:57] yuq commented on #20
I just pick up the 4.13 kernel then apply my patches on top of it. So start from the 4.13 release commit, all commits after are the driver (except some patches not mention drm/lima). But you may have to do some port work if your kernel is not 4.13.

[2018-01-11 09:18] jfdelnero commented on #20
yes, the BPI R2/mediatek kernel is the 4.4.70 (patched by mediatek).
So i will have to generate the patches between the 4.13 and the lima 4.13 and try to apply them to the mediatek kernel.

[2018-01-12 19:01] anarsoul opened #22 "Add disassembler to GP and PP compilers"
It's pretty hard to catch bugs in codegeneration without a disassembler.

[2018-01-13 01:37] yuq commented on #22
Lima has a disassemble tool here:
https://gitorious.org/open-gpu-tools/cwabbotts-open-gpu-tools

[2018-01-13 02:00] anarsoul commented on #22
I know, but I'd like to have it integrated into mesa driver. It's not convenient to feed hex dump to this tool manually. I'll work on it once I'm done with textures.

[2018-01-13 02:04] yuq commented on #22
Oh, that's great if we can directly disassemble the shader binary in the mesa.

[2018-01-13 21:06] anarsoul commented on #20
@jfdelnero I think you need to port mediatek patches for 4.4.70 to 4.13. It could be pretty hard to backport lima patches from 4.13 to 4.4 kernel. DRM subsystem has changed a lot from 4.4 to 4.13.

[2018-01-13 22:09] jfdelnero commented on #20
Yes i know. That's why i am currently trying this :
https://github.com/frank-w/BPI-R2-4.14

[2018-01-16 00:57] anarsoul commented on #12
Merged in #21

[2018-01-16 00:57] #12 closed

[2018-01-16 00:57] anarsoul opened #24 "Add mipmap support"

[2018-01-17 16:04] mmind opened #26 "MMU faults / pp error irq on Mali450 in higher resolutions"
I'm working on making a Rockchip pipe driver, but right now run into some issues

./kmscube -d -D /dev/dri/card1
i.e. directly on the lima device, works as expected

./kmscube -d -D /dev/dri/card0
i.e. accessing the Rockchip card and going through the pipe driver, creates correct images but at the end I get a
  [  205.133880] lima ff300000.gpu: still active bo inside vm

and finally doing the main

[2018-01-17 22:14] anarsoul commented on #26
@mmind try disabling iommu driver. It could happen that Rockchip DRM driver allocates non-linear scanout, but as far as I can tell, lima driver doesn't support it at the moment.

[2018-01-18 00:43] yuq commented on #26
Another possibility is what's your screen resolution? If it's 4K, then current lima hard code the limit to 2048x2048.

And check if following two commits in your:
1. mesa: https://github.com/yuq/mesa-lima/commit/c6c2844c2a5f9877220f1b73b272ad72a5c26c30
2. linux: https://github.com/yuq/linux-lima/commit/a826702396f059844dfebb9be0bcb02a4329c746

[2018-01-18 00:51] anarsoul commented on #26
@yuq mesa-lima works in 2536x1440 for me, but it's clipped to 2048x1440

[2018-01-18 01:08] yuq commented on #26
@anarsoul You mean with 2536x1440 screen, mesa-lima only render the 2048x1440 region? Do you have this commit: https://github.com/yuq/mesa-lima/commit/c6c2844c2a5f9877220f1b73b272ad72a5c26c30

[2018-01-18 01:09] anarsoul commented on #26
@yuq I think I do, I'm rebasing my repo pretty often.

[2018-01-18 01:19] yuq commented on #26
It's here that I assume the max w/h to be 2048: https://github.com/yuq/mesa-lima/blob/lima-17.3/src/gallium/drivers/lima/lima_context.h#L208

But it's a total size limit, not each dimension limit, 2536x1440 still within this total size limit. I don't know why 2536x1440 screen can be clipped to 2048x1440.

[2018-01-18 01:31] anarsoul commented on #26
Maybe it's not 2048x1440, but cube isn't centered and a bit stretched vertically. FWIW it's working fine in 1920x1080

[2018-01-18 01:46] yuq commented on #26
Oh, seems I reproduced your 2536x1440 problem when offscreen rendering for kmscube, is your screen look like this
![dump0](https://user-images.githubusercontent.com/499597/35076557-0d3b27bc-fc34-11e7-8277-b38a5d460186.png)

[2018-01-18 02:00] anarsoul commented on #26
@yuq yes.

[2018-01-18 02:07] yuq commented on #26
This commit should fix it: https://github.com/yuq/mesa-lima/commit/fcfbfee7612eb8bc113076a24ca935375f0e08b1

[2018-01-18 02:14] fourkbomb commented on #26
ARM's website suggests that the max texture size is 4096x4096: http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.faqs/ka13314.html

[2018-01-18 02:23] yuq commented on #26
OK, thanks for your info. I've set it to 4096 now: https://github.com/yuq/mesa-lima/commit/86c9c19c0a930aa9252d860534ae79a25084d9ac

[2018-01-18 06:42] mmind commented on #26
@yuq screen resolution is a standard 1080p

I'm going to check what the drm driver does with the iommu disabled. In theory it should support that but I don't think anybody has tested this with mainline yet :-)

[2018-01-18 21:31] superna9999 commented on #26
@mmind @yuq I have the exact same result with Amlogic Meson DRM driver, 1080p

[2018-01-18 22:59] mmind commented on #26
Just to fill in some things I was able to check today.
First of all, disabling the iommu works for the general output but does not also lead to scrambled screen output.
Secondly I was able to wire up my rk3036-based kylin board (arm32) again which has a nice Mali400MP1 and got this nice output on it - both with and without the iommu:
![img_20180118_172105](https://user-images.githubusercontent.com

[2018-01-19 01:31] yuq commented on #26
@mmind here's some guess for your problem:
1. mali4xx can only address 32bit address space, but ARM64 may have some RAM above that place
2. linux-lima uses dma_alloc_xxx for all buffers, but some chip's IOMMU only cover the display engine, so the dma_alloc_xxx may not implement properly which causes returned mem not physically continuous for mali GPU
3. special hardware/cache problem, when I switc

[2018-01-19 02:08] yuq opened #29 "plan about my lima dev"
Hi guys, I'm going to share plan of my near future work for lima dev here instead of wiki so that you may know and comment on it.

Currently I want to make the lima_draw.c more generic, robust and support multi render target (FBO), so need feature like dynamic command stream mem alloc and new command submit interface which needs a lot of kernel driver work: new memory management and gpu scheduler.

[2018-01-19 05:32] anarsoul commented on #29
Sounds good. I'd suggest to create another Wiki page with roadmap.

[2018-01-19 12:03] superna9999 commented on #26
For Amlogic GX, there is no IOMMU and the dram does not cross the 32bit boundary.
The official Mali driver works without any specific changes :

[2018-01-19 12:04] superna9999 commented on #26
https://github.com/superna9999/meson_gx_mali_450/blob/DX910-SW-99002-r6p1-01rel0_meson_gx/driver/src/devicedrv/mali/platform/meson/meson.c

[2018-01-19 12:05] superna9999 commented on #26
@mmind when possible I’ll try to render offscreen (i’m Flying to Sydney for LCA2018)

[2018-01-19 14:17] yuq commented on #29
I'll consider about it. I think x11/wayland desktop support is next goal by implementing all the OpenGL ES2 functions listed by piglit.

[2018-01-19 14:26] yuq commented on #26
Seems the problem mali450 spec?

[2018-01-19 15:51] PabloPL commented on #29
Also lima needs to flush command stream even if apps are not doing it (piglit is doing this - not calling flush but reading and checking result - glReadPixels?). I think this is also importand, because currently tests are failing (because of this, none cmdstreams are executed).

[2018-01-20 01:48] yuq commented on #29
Right, this will be addressed after multi render target support which will build a command list for each render target. When read from this render target, we can flush the command list attached to it.

[2018-01-20 18:42] enunes commented on #29
I've been thinking about working on this direction when I get back from my vacation, to follow up on the parts I worked so far which were more related to that. If I recall correctly we may need to implement some additional buffer sharing possibilities too.

[2018-01-20 19:42] mmind commented on #26
So I found the time to dig around a bit more and the issue really seems unrelated to the rockchip display-engine, as it also happens when using the kmscube dumping function at higher resolutions on the mali450.

For reference dumping at 1920x1080 on my arm32 rk3036 with a Mali400MP1 (64MB cma area) worked just fine and produced correct images with mesa binaries build from the same (most recent sou

[2018-01-21 05:05] yuq commented on #26
It sounds very likely a memory or cache problem. After comparing your mali450 support commit and official mali driver, seems you'll always flush the GP and PP L2 cache at the same time for both GP and PP task worker. But mali driver only flush GP L2 cache when GP worker and flush PP L2 cache when PP worker.

[2018-01-21 05:12] yuq commented on #29
That's gem flink support which is needed by X11 DRI2. This is optional because X11 now prefer DRI3 which uses DMABUF, but for completeness we need it.

[2018-01-21 05:36] yuq commented on #29
For roadmap, here's my thought:

kernel, before we can start upstream our work, following tasks need be done:
1. gpu scheduler
2. memory manager for non-continuous mem
3. drm syncobj support
4. complete mali450 support

mesa, support X11/Wayland desktop then we can start upstream our work
1. texture mipmap
2. FBO support
3. depth support
4. pass most OpenGL ES2 piglit tests
5. compiler work
   1.

[2018-01-21 06:46] prasannatsm commented on #29
Why not send current code as RFC to kernel and get feedback? This will parallelise things and I believe will save a lot of time.

[2018-01-21 08:03] yuq commented on #29
I'll consider this some time latter because  current work is not ready, there are some important blocks pending to be implemented which will change the final code shape a lot.

[2018-01-21 11:08] PabloPL commented on #19
Info about polygon offset calculation which i've found:

About integer part of offset:
- min value is -32 and max is 31
- it's calculated in following way:
```(value << 18) & ~0xff000000;```

About decimal part of offset:
- precision to 1 decimal place (1,1 value is equal to 1,15)
[code]

If offset < 0 then result = integer part - fractal part
else result = integer part + fractal part

Test data:

[2018-01-21 11:08] PabloPL commented on #19
TODO find out what is the place where polygon offset unit is stored.

[2018-01-21 15:41] mmind commented on #26
Another observation:

As long as kmscube didn't run sucessfully, I always seem to get the mmu pagefault
[   70.608826] lima_gp_start_task
[   70.613766] lima ff300000.gpu: mmu page fault at 0x7dcadaa0 from bus id 0 of type read on gpmmu
[   70.614746] [drm] lima worker wait task error
[   70.615294] lima ff300000.gpu: mmu resume
[   71.618574] [drm] lima worker wait dep fence error -110

and after

[2018-01-22 03:23] superna9999 commented on #26
Offscreen rendering works as expected:
![dump0](https://user-images.githubusercontent.com/492099/35204062-f2e7dcde-ff2b-11e7-92ed-b40baf1e042c.png)
Same with 1024x768 resolution with the meson driver in rgba mode:
![dump0](https://user-images.githubusercontent.com/492099/35204080-0566d248-ff2c-11e7-8e5a-06c54995f579.png)

[2018-01-22 03:25] anarsoul commented on #26
@superna9999 looks like you have R and B channels swapped in textured cube.

[2018-01-22 04:36] superna9999 commented on #26
@anarsoul I have the same inversion with the offscreen rendering:

$ kmscube -d -D /dev/dri/card0 (lima is on card0)

Execution log:
http://pastebin.baylibre.com/view/8e034245

[2018-01-22 06:21] anarsoul commented on #26
@superna9999 probably texture descriptor differs on mali450.

[2018-01-22 08:06] mmind commented on #26
@superna9999 can you also try offscreen rendering at 1920x1080 please? (Size settings at the bottom of kmscube/common.h)

[2018-01-22 21:44] superna9999 commented on #26
@mmind Done, here is the log:

[code]

Then:
[code]

[2018-01-22 21:51] mmind commented on #26
@superna9999 cool in so far as it looks like we're really hitting the same issue, which in turn seems to be Mali450 specific and somehow tied to the output resolution.

[2018-01-22 22:08] superna9999 commented on #26
@mmind good I can reproduce the same

[2018-01-23 05:06] superna9999 commented on #29
@yuq will you wait until 4.16-rc1 to rebase on 4.16 and use drm_sched ?

[2018-01-23 07:33] yuq commented on #29
I want to wait until 4.16 release for the next rebase, currently I just backport drm_sched to 4.13 kernel for the gpu scheduler dev.

[2018-01-23 07:41] anarsoul commented on #29
@yuq do you mean release candidate or release? 4.16 release probably won't happen in next ~3 months.

[2018-01-23 07:43] yuq commented on #29
I mean the final release. not RC. That's about the time I finished the kernel work planed.

[2018-01-23 16:22] anarsoul commented on #29
@yuq I'd suggest starting with 4.16-rc1 - in this way we'll get more testing with 4.16 codebase. But of course, it's up to you. I'll probably be working with 4.16-rc, since I have other patches that I'm planning to submit upstream.

[2018-01-23 19:48] mmind commented on #29
Especially as after -rc1 the big changes are mostly made, so there shouldn't be any surprises and only fixes waiting in the later -rcs :-) .

[2018-02-15 03:28] yuq commented on #29
Progress update:
1. switch to drm_sched is done
2. I found the dynamic mem alloc refine for lima_draw.c is independent of kernel memory management refine (u_uploader is the right way), so I plan to work on this first
3. Rob Clark suggest us don't need to support contiguous memory allocation in lima, we can reference the etnaviv to always allocate dumb buffer in display DRM and export to lima, then

[2018-02-17 23:55] enunes commented on #29
Just sent a pull request with the index draw changes.
I can take a look into the renderonly lib changes, need to take a look at the etnaviv code to understand better what needs to be done. Can you clarify why these changes are necessary with our current renderonly implementation?

[2018-02-18 02:27] yuq commented on #29
OK, here is my thoughts from the advice of Rob:

Current renderonly lib implementation is allocating all buffer from lima and export to DRM display driver. So lima driver has to handle both contiguous and non-contiguous memory allocation in the kernel driver. These two memory are from different method, contiguous memory is from dma_alloc_xxx which mostly from CMA pool while non-contiguous memory i

[2018-02-26 06:48] yuq commented on #29
Progress update:
1. switch to drm_sched (done)
2. lima_draw refine (done)
  1). dynamic MM using u_upload
  2). flush command stream before read from a buffer @PabloPL
  3). FBO support (tested with https://github.com/yuq/gfx/tree/master/gbm-surface-fbo)
3. kernel non-contiguous mem MM (next work)

With the FBO test app, seems texture support has some problem @anarsoul
Blue/Red channel swap: test

[2018-02-26 06:52] anarsoul commented on #29
@yuq I'll take a look. Can I reproduce it with gbm-surface-fbo?

[2018-02-26 06:53] anarsoul opened #32 "Blue/Red channels of texture are swapped"
With the FBO test app, seems texture support has some problem
Blue/Red channel swap: test app render buffer is PIPE_FORMAT_B8G8R8A8_UNORM, while texture is PIPE_FORMAT_R8G8B8A8_UNORM, the final result is B/R channel swap

[2018-02-26 06:53] yuq commented on #29
Yes, you can.

[2018-02-26 06:54] anarsoul commented on #29
I opened https://github.com/yuq/mesa-lima/issues/32 to track this issue

[2018-02-26 08:09] yuq commented on #29
Thanks, the right result should be red, but on my Allwinner H3 it's blue.

[2018-03-02 18:30] cwabbott0 opened #33 "Reworking the GP scheduler"
While thinking about how to do spilling to physical registers, I realized that we could try a different strategy in the scheduler. Rather than splitting things into virtual and physical registers before the scheduler, we could combine them together. Which values get spilled to registers is decided by the scheduler, and all we need to do is guarantee that there are never more than 11 + 64 of them r

[2018-03-03 02:49] yuq commented on #33
Thanks for sharing the compiler work. Although I can't understand the new algorithm immediately after  quick scan of the code and your comments, I'll get back and try to understand it latter.

It's nice to see your work on mesa-lima compiler, I believe you're the best person for it. GP compiler is definitely the module I spend most time on but get not satisfied result until your algorithm come to

[2018-03-08 03:45] yuq commented on #29
Progress update:
1. switch to drm_sched (done)
2. lima_draw refine (done)
3. kernel non-contiguous mem MM (done)

Now the kernel support both contiguous and non-contiguous mem alloc in lima driver. Although I plan to discard contiguous mem support in lima and use the etnaviv way, but it's not too complicated to have them both now. We can remove the contiguous mem support latter when @enunes finish

[2018-03-14 21:29] anarsoul commented on #32
@yuq I don't understand how lima chooses render buffer formats, looks like it always uses RGBA8888 regardless of what app is specified, see: https://github.com/yuq/mesa-lima/blob/lima-17.3/src/gallium/drivers/lima/lima_draw.c#L1003

So far it doesn't look like a bug in texturing code, but I can fix it.

[2018-03-14 23:21] yuq commented on #32
Oh right, so this get the first draw of FBO test wrong format. You may get the render buffer format from ctx->framebuffer->cbuf.

[2018-03-15 19:43] anarsoul opened #36 "Increase gp tile heap size"
'glmark2-drm -b build' runs out of tile heap:

[  318.835774] lima 1c40000.gpu: gp error irq state=4 status=2b

where state=4 is LIMA_GP_IRQ_PLBU_OUT_OF_MEM. limare has 1mb tile heap size while we are at 32kb.

Increasing heap size to 1mb fixes this particular issue, but now it gets mmu page fault while still rendering black screen:

[ 4212.840241] lima 1c40000.gpu: mmu page fault at 0x1b002740 fr

[2018-03-16 01:33] #32 closed

[2018-03-20 01:32] #29 closed

[2018-03-20 01:47] yuq opened #37 "plan about my dev v2"
As previous plan is done, start a new one.

I've setup a mali450 board for mali450 dev and found the kernel driver HW ops not stable, like L2 cache and MMU reset command timeout, so want to give the kernel driver some refine and fix which may also benefit some problem found when mali400 dev. After this, I can send a RFC to kernel DRM driver mailing list for feedback.

[2018-03-20 07:07] anarsoul commented on #37
Looking forward to see lima driver mainlined :)

[2018-03-22 19:06] anarsoul commented on #36
After 637f26403627f806f10d92ece71d43215b161400 it almost works, sometimes horse's just stuck (no rotating) and I get following in dmesg:

[  195.830248] lima 1c40000.gpu: pp error irq state=201 status=40
[  195.845414] lima 1c40000.gpu: pp error irq state=201 status=40,

state=201 is LIMA_PP_IRQ_INVALID_PLIST_COMMAND | LIMA_PP_IRQ_END_OF_FRAME

[2018-03-22 23:45] anarsoul commented on #19
@PabloPL are you still working on it?

[2018-03-23 00:56] yuq commented on #36
Nice to hear it, it's a little surprise that glmark2 build can draw as depth and index draw are not supported yet, maybe it doesn't use them.

As the stuck, it's like the problem I'm looking at for mali450 https://github.com/yuq/mesa-lima/issues/26, I think may be a cache problem because I see sometime this pp irq error and sometimes MMU fault.

[2018-03-23 03:40] yuq commented on #36
@anarsoul did you modified glmark2? I try to run with 'glmark2-drm -b build' but get:
Error: eglChooseConfig() didn't return any configs
Error: Error: Couldn't get GL visual config!
Error: main: Could not initialize canvas

BTW. my glamrk2 is from the github.

[2018-03-23 06:09] anarsoul commented on #36
I did. I commented out "EGL_DEPTH_SIZE, requested_visual_config_.depth" in glmark2/src/gl-state-egl.cpp GLStateEGL::gotValidConfig()

[2018-03-23 06:12] anarsoul commented on #36
https://photos.app.goo.gl/q0Q4RRjeHFWceFdf2

[2018-03-23 06:45] yuq commented on #36
Great!

After comment out the depth, glmark2 can continue but fail at:
Error: Glmark2 needs OpenGL(ES) version >= 2.0 to run (but version string is: '1.4 Mesa 17.3.0 (git-637f264036)')!
Error: main: Could not initialize canvas

So you should also did some change on mesa.

[2018-03-23 07:03] yuq commented on #36
I can run with glmark2-es2-drm. So lima mesa export OpenGL 1.4 and OpenGL ES 2.0.

@enunes I think that's why the piglit not run OpenGL 2 tests, we need to add some missing feature/ext for mesa exporting OpenGL 2.0 support (I remember I did for OpenGL ES 2.0).

[2018-03-23 07:09] PabloPL commented on #19
@anarsoul
At this moment i don't have time to work more on this. At first post i've tried to describe what i've found when comparing mali binary dumps. I've also added some test data (which i gathered and was using to verify my calculation).
There is only one thing missing - polygon offset unit is stored in some different place in memory (not in depth_test).

 If You want, be free to continue this

[2018-03-23 07:10] PabloPL commented on #19
Also i had to add https://github.com/PabloPL/mesa-lima/commit/20ac8f025525bc3bc4b46cb68dcb0da5a9621d22 (so we can have format which supports depth).

[2018-03-23 07:19] anarsoul commented on #36
@yuq I think we need occlusion query (at least a stub) to advertise GL 2.0. And yes, I'm running glmark2-es2-drm.

[2018-03-23 21:14] anarsoul commented on #36
Fixed by 470b1610a65af011dcba0c1ea1c652885cf06c26

[2018-03-23 21:14] #36 closed

[2018-03-28 05:32] Icenowy opened #38 "sometimes ir compiler will deadloop (discovered by piglit)"
mesa-lima commit: 2a54f24d4452475a605909e16287b5c2f057758c
piglit commit: af1140c9d152e11380519ff79dde2cac110bb327
piglit test: shaders/glsl-deadcode-varying

The test hangs until the process is manually terminated.

stacktrace gained by sending SIGABRT to the shader_runner:
[code]

[2018-03-28 05:50] Icenowy commented on #38
shaders/glsl-fs-convolution-1 also fails in schedule_try_place_node()

backtrace:
[code]

[2018-03-28 05:56] yuq commented on #38
Current compiler is not in a complete state, some instructions are not implemented and control flow is not supported, so I'd expect many tests of piglit should fail. We can get a list of them to implement one by one.

[2018-03-28 05:57] Icenowy commented on #38
I will report all fails and crashes in a new issue when I get all (or all except these deadloop ones) tests executed.

However, even the compiler is not complete it shouldn't deadloop.

[2018-03-28 06:05] yuq commented on #38
Yes, dead loop will block the piglit test run which causes much manual work. I see piglit has timeout function, maybe it needs some option to enable.

You can add deadloop tests to the fail test list too.

[2018-03-28 13:32] Icenowy opened #39 "multiple fails and crashes when running piglit"
I have tried to run piglit with lima, and most tests (if not skipped) fail or crash.

Here's the piglit result: (running "gpu" testsuite)

[results.json.gz](https://github.com/yuq/mesa-lima/files/1856138/results.json.gz)

Note: the following tests hangs when running, I manually killed them or excluded them to continue the test:
[code]

[2018-03-28 14:13] yuq commented on #39
Thanks, I see the results: 486/3484.

[2018-03-28 14:16] Icenowy commented on #39
There's also some programs that uses depth/stencil buffer which will fail to eglChooseConfig and be considered as skipped, and I manually ignored some hanging tests, so the real test number suitable for Mali Utgard is bigger than 3484.

[2018-03-29 03:15] Icenowy commented on #39
@yuq is there any debugging environment variables that I can use to run piglit again (to capture more details)?

[2018-03-29 03:20] yuq commented on #39
For lima you can find two:
LIMA_SHADER_DEBUG
LIMA_DUMP_COMMAND_STREAM
https://github.com/yuq/mesa-lima/blob/lima-17.3/src/gallium/drivers/lima/lima_screen.c#L325

For mesa there are many:
https://www.mesa3d.org/envvars.html

[2018-03-29 03:22] Icenowy commented on #39
OK it may be interesting to set LIMA_SHADER_DEBUG when running piglit.

[2018-04-04 02:16] yuq commented on #26
@mmind I meet same problem when offscreen rendering in 1920x1080 resolution on mali450 and fixed with latest two mesa commits but have no chance try the onscreen rendering, does it work for you?

[2018-04-05 07:15] mmind commented on #26
@yuq summary: better but still some issues, detail below :-)

I'm living on the bleeding edge, so the lima code is sitting on top of what was in torvalds master yesterday. And I did the upgrade to mesa 18.0 on my Debian-based test systems.

Dumping kmscube at 1080p does still work (extended to 400 frames to make sure), running on the rk3328-display at 720p also still works for at least 5 minutes.

[2018-04-05 07:21] mmind commented on #26
And some more that I just saw:

- dumping at 1080p with -M rgba seems to work
- 1080p with -M rgba on the display only shows a
  ppir: ppir: regalloc fail

[2018-04-05 07:46] yuq commented on #26
Thanks for your summary, seems the original problem is gone but there's some new problem. I'll try to reproduce it when I'm able to try the onscreen rendering.

[2018-04-05 08:10] superna9999 commented on #36
Hi,

I integrated mesa-lima 18.0, and linux-lima 4.16-rc into meta-meson, kmscube and glmark2 runs (with some tweaks):
https://github.com/superna9999/meta-meson/tree/topic/mesa-lima

it can be useful to test on Amlogic SoCs !

[2018-04-05 08:18] superna9999 commented on #26
On LePotato - Amlogic S905X using:
 - Linux 4.16 + Lima Patches up to "drm-lima-fix-submit-wait-error-in-arm64" + Amlogic WiP patches
 - mesa-lima 18.0
 - kmscube upstream commit 0d8de4ce3a03f36af1817f9b0586d132ad2c5d2e
I can run kmscube with onscreen rendering to 1080p without any issues for multiples minutes.

You can try the following sdcard image : https://drive.google.com/file/d/1B43l7vqVkfx8

[2018-04-05 08:54] yuq commented on #36
Thanks @superna9999, I've added your metadata info into the wiki.

[2018-04-05 08:56] superna9999 commented on #26
(new comment, last comment was with -M smooth)
On LePotato - Amlogic S905X using:
- Linux 4.16 + Lima Patches up to "drm-lima-fix-submit-wait-error-in-arm64" + Amlogic WiP patches
- mesa-lima 18.0 commit 9fc5dac
- kmscube yuq commit 9deb9c3e6b19ae8155307cfed5c8944d64c48583
I can run kmscube -M rgba with onscreen rendering to 1080p without any issues for multiples minutes.
You can try the following

[2018-04-05 09:08] yuq commented on #26
Good to see it works on at least one mali450 SoC. Maybe the new problem is due to the kernel difference with linux-4.16 and linux-master @mmind ?

[2018-04-05 11:39] mmind commented on #26
Hmm, hard to check, as the current head includes a lot of Rockchip-specific stuff needed for actual display on the rk3328. So it's not really that easy

The bug in the dump above is caused by BUG_ON(in_interrupt()); in vunmap, so possibly some locking issue?

[2018-04-05 11:57] mmind commented on #26
Also when running kmscube (non-rgba variant) and not waiting for the vunmap issue above but instead killing it with Ctrl+C, I always seem to get
[ 2600.465103] lima ff300000.gpu: mmu page fault at 0x474800 from bus id 0 of type read on ppmmu1
[ 2600.466394] lima ff300000.gpu: mmu page fault at 0x474800 from bus id 0 of type read on ppmmu0
[ 2600.469451] lima ff300000.gpu: mmu resume
[ 2600.470465]

[2018-04-06 02:43] anarsoul commented on #26
@yuq with latest mesa I get a lot of these while running kmscube -M rgba

[  472.894739] lima 1c40000.gpu: mmu page fault at 0x121020 from bus id 0 of type read on ppmmu0
[  472.913009] lima 1c40000.gpu: mmu page fault at 0x121000 from bus id 0 of type read on ppmmu1
[  472.930897] lima 1c40000.gpu: mmu resume
[  472.944033] lima 1c40000.gpu: mmu resume

[2018-04-07 18:08] anarsoul commented on #19
So looks like offset_scale is calculated like this:

[code]
According to limare, polygon_offset_units is used to adjust viewport->translate[2], but it does some weird cast from float to int and then just substracts polygon_offset_units from viewport->translate[2]. Unfortunately I don't understand how that's supposed to work.

[2018-04-08 07:48] yuq commented on #19
viewport transform will be applied to each vertex at the end of GP shader:
V * viewport_scalar + viewport_translate
viewport->translate[2] is the Z value.

[2018-04-09 01:35] anarsoul commented on #19
@yuq you misunderstood me, I don't understand how this's supposed to work:

https://github.com/limadriver-ng/lima/blob/master/limare/lib/limare.c#L848

Note that state->viewport_transform[6] is float. So basically the code casts float pointer to int pointer and then does some math on int.

Least significant bits (22 to 0) of float contain fraction part, but the code doesn't check exponent value:

[2018-04-19 05:08] anarsoul commented on #19
Does anyone know why eglinfo shows now depth/stencil visuals?

[code]

[2018-04-19 05:46] yuq commented on #19
You mean "no" or "now"?

[2018-04-19 06:02] anarsoul commented on #19
I meant 'no', but I figured that out - I added formats to lima_screen.c, but used stale libraries, so eglinfo showed no depth/stencil visuals.

[2018-04-19 06:07] anarsoul commented on #19
@yuq do you know how to attach depth/stencil buffer? Basically if I just enable depth test it works somehow, but I'm not sure where it stores Z values, because ctx->framebuffer.zsbuf isn't used anywhere

[2018-04-19 07:22] yuq commented on #19
One way I can think of is creating a gbm_bo and attach it to FBO's GL_DEPTH_ATTACHMENT.

[2018-04-19 15:04] anarsoul commented on #19
@yuq I'm talking about lima. See lima_set_framebuffer_state() in lima_state.c, framebuffer->zsbuf is only used in this function and not anywhere else.

[2018-04-20 00:29] yuq commented on #19
Sorry, I don't know either. The zsbuf I just write it there for reminder, haven't actually use it. But from the lima-ng, I also can't find a dedicated depth buffer attached for each draw. Maybe a reverse engineer dump is needed for this case.

[2018-04-20 08:31] koenkooi opened #44 "ppir: unsupport nir_op 78"
I'm trying to find out what's needed to get kodi running on lima (amlogic am905x, mali450) using the new kodi EGL/GBM backend and after a small tweak (https://gist.github.com/koenkooi/1d8e71969167f7ff68163f15166e797a) I'm now at the point where it crashes due to missing features.

This is using revision 1e3fd4f0e247f6c6955e89bba92be13814debcf5

using `export EGL_LOG_LEVEL="debug"`

[code]

I track

[2018-04-20 08:55] yuq commented on #44
You can find a file in the build output generated at src/compiler/nir/nir_opcodes.h
78 is nir_op_fmov

[2018-04-20 09:56] koenkooi commented on #44
Thanks!

[2018-04-20 09:56] #44 closed

[2018-04-20 22:35] enunes commented on #38
I was not able to reproduce a deadloop with those specific tests anymore, tried shaders/glsl-fs-convolution-1 and shaders/glsl-deadcode-varying now and they just failed with:
[code]
Does any other test still deadloop in the compiler?

[2018-04-21 06:30] anarsoul commented on #19
I checked the dump and I don't understand where it stores depth values.

[2018-04-21 07:15] yuq commented on #19
Could this possible:
1. for app not use the depth buffer explicitly (attached to FBO's depth slot), mali don't need a depth buffer at all
2. for explicit usage, one drm_lima_pp_wb_reg is used for it, as the type field comment 1 is for depth

So maybe you can try to dump a app using FBO GL_DEPTH_ATTACHMENT.

[2018-04-21 11:40] yuq commented on #37
Progress update
1. fix the PP error irq and MMU fault due to not enough PLB number
2. fully mali450 support with DLBU and BCAST used for PP jobs

Next
1. still some bug need to be fixed in the kernel
2. try to use TTM as our MM if possible

[2018-04-21 17:14] anarsoul commented on #37
@yuq PP error irq isn't fixed for mali400. I still get this on some runs of glmark:
[code]

[2018-04-21 17:36] anarsoul commented on #37
Also I get MMU faults in kmscube -M rgba:

[code]

[2018-04-21 17:48] anarsoul commented on #19
@yuq you're right - mali400 doesn't require in-memory depth buffer, see http://www.highperformancegraphics.org/previous/www_2010/media/Hot3D/HPG2010_Hot3D_ARM.pdf page 9:

Z, stencil, MSAA samples never go off-chip

So it uses on-chip 16x16 tile buffer for Z and stencil.

[2018-04-22 00:39] yuq commented on #37
What's your screen resolution when this kind of error happens? I remember you said you have a 2536x1440 monitor?

I fix this error when 1920x1080 and the PLB number is not set to max. But there's another dimension I haven't tried -- the PLB size. PLB size can be 128, 256, 512, 1024. Dumping mali driver I always see it's set to 512, so does lima-ng. But maybe when higher resolution, it should be in

[2018-04-22 01:48] anarsoul commented on #37
My monitor resolution is 2560x1440.

[2018-04-22 03:33] yuq commented on #37
So does increase LIMA_CTX_PLB_BLK_SIZE to 1024 solves the error on your side?

[2018-04-22 03:42] anarsoul commented on #37
No, with LIMA_CTX_PLB_BLK_SIZE = 1024 kmscube doesn't work at all  - and I get this in dmesg:
[code]

[2018-04-22 04:36] yuq commented on #37
OK, maybe there's other place need to be configured for 1024 PLB like the DLBU reg:
https://github.com/yuq/mesa-lima/commit/1c7700fb32a5974867b10da2088da2d3790699b6#diff-15af9d78941ee5e81caea488e2910f77R1092

I just hard code 0x20000000 for 512 PLB, 1024 PLB should be 0x30000000. So there maybe the same field for mali400 that we haven't discovered. We can first dump 2560x1440 mali and see if it us

[2018-04-22 04:41] anarsoul commented on #37
Here's dump: https://drive.google.com/file/d/16WDMIvAeE6-wK4NYvepF8R0YEfJXEUHD/view?usp=sharing - I'm not really sure what to look for.

[2018-04-22 08:57] yuq commented on #37
From your dump, although the gp stream mem is missing, I can see in the pp stream mem it's still 512 PLB. But I also find in the code that LIMA_CTX_PLB_BLK_SIZE is not used every where it should be, so fixed with:
https://github.com/yuq/mesa-lima/commit/376b3c82dd684299d2b3baeb70c56c4bed7dcfaa

With this fix, 1024 PLB works, could you try it again?

[2018-04-22 16:18] anarsoul commented on #37
1024 PLB works now, but it's the same as 512 - I'm still getting mmu fault in 'kmscube -m rgba':

[code]

and pp error in glmark2-es2-drm -b build:

[code]

Btw, everything that uses textures stutters for me, i.e. textured cube or 'glmark2-es-drm -b pulsar'

[2018-04-22 23:44] yuq commented on #37
OK, then seems not the plb size problem. As the texture, Is it caused by the compiler:
https://www.mail-archive.com/mesa-dev@lists.freedesktop.org/msg189216.html

[2018-04-23 03:04] anarsoul commented on #37
Oh, I wasn't aware of this change in mesa-18.0. That explains stuttering.

As for the issue - I suspect it's something related to cache - since it works 4 out of 5 times fine, and fails on 5th time (that's approximately)

[2018-04-23 03:19] yuq commented on #37
The compiler scalar back to vec problem will get worse when 18.1. But I want to focus on kernel currently so left it with some incomplete work around.

The issue maybe cache problem. Another possibility is the switch_delay, I found on Amlogic chip, when in high frequency (>500MHz), it has to be bigger than 0xff, otherwise the chip will work in unstable state. Not sure if this affect your chip.

[2018-04-23 05:33] anarsoul commented on #37
Setting switch-delay to 0xffff doesn't help for ppmmu error, but "pp error irq state=200" goes away. Looks like Mali400 in Allwinner A64 needs switch-delay 0xffff to work properly. Does it make sense to make switch-delay = 0xffff default value?

[2018-04-23 05:34] anarsoul commented on #37
And I think I understand when "ppmmu error" happens - it always happens if I run some app that uses textures and when I press ctrl+c to interrupt it. I believe driver tears down MMU mapping while PP is still running.

[2018-04-23 05:56] yuq commented on #37
I don't know if it's proper to always set switch delay to 0xffff as some platform just set this value to 0xff and some set it to 0xffff in the mali driver, also this value depends on the clk freq. Does proprietary A64 mali kernel driver set it to 0xffff or 0xff?

As the ppmmu error, no matter your guess is true, kernel driver indeed has no mechanism to prevent this situation happen. If user just c

[2018-04-23 06:05] anarsoul commented on #37
If I read this code correctly, it uses 0x0 as delay since there's no pmu_switch_delay in device tree:
https://github.com/mripard/sunxi-mali/blob/master/r6p2/src/devicedrv/mali/linux/mali_osk_mali.c#L244

What does 0x0 mean in this case? Highest possible delay?

[2018-04-23 06:15] yuq commented on #37
Are you sure the switch delay reg is set to 0? this is the min delay or no delay from the comment.

[2018-04-23 06:22] anarsoul commented on #37
I verified it, and it's setting it to 0.

[2018-04-23 06:25] yuq commented on #37
Then if set to 0 in lima kernel driver, does it fix your pp error too?

[2018-04-24 16:36] shadeslayer opened #49 "Lima crashes when trying to start kwin_wayland"
Tried to start kwin_wayland with lima, managed to crash the driver

[code]

[2018-04-25 07:48] koenkooi opened #50 "wiki: s/yocto/OpenEmbedded/"
I can't figure out how to do a PR for the wiki, but 'yocto' should be changed to 'OpenEmbedded'.

[2018-04-25 09:24] shadeslayer commented on #49
Within lima_update_textures():
[code]
So perhaps we need a check before?

[2018-04-26 02:09] yuq commented on #50
As your request.

[2018-04-26 14:31] koenkooi commented on #50
thanks!

[2018-04-26 14:31] #50 closed

[2018-05-02 14:14] yuq opened #53 "Texture alignment and layout problem"
Dump the mali with:
https://github.com/yuq/gfx/tree/master/x11/fbo

Output:
https://gist.github.com/yuq/a17350bd5bf91dbeba24e9deeda9a829
https://gist.github.com/yuq/a32a5ed635bfffe27c49b936a06c4887

Seems the texture memory will be reused and no copy:
1. frame 0 output to 0x10100000
2. frame 1 get texture from 0x10100000
3. 0x10100000 memory not changed from the end of frame 0 to beginning of fram

[2018-05-03 03:01] yuq opened #54 "License update for mesa-lima, syscall-tracker and linux-lima"
First let me apologize for the previous license violation in the mesa-lima and syscall-tracker code to Luc Verhaegen. As his request, I updated the license in all the place which directly or in-directly copy the lima-ng code by **rebase** in all branches:
mali-syscall-tracker/main.c
mesa-lima/src/gallium/drivers/lima/lima_draw.c
mesa-lima/src/gallium/drivers/lima/lima_texture.c
mesa-lima/src/galli

[2018-05-03 06:58] anarsoul commented on #53
Looks like a tiled format.

[2018-05-07 11:52] yuq commented on #26
@mmind @anarsoul When refining MM to use TTM, I found the previous VM implementation has bug which will unmap unfinished tasks' BO and cause the MMU fault/PP error. With latest kernel commits, it should be fixed. Ctrl+C problem should also be fixed by waiting task finish before free BOs. I can't reproduce your problems, so maybe you can try on your side to see if it's OK now.

[2018-05-08 02:42] yuq commented on #54
Add two new files for license update:
mesa-lima/include/drm-uapi/lima_drm.h
linux-lima/include/uapi/lima_drm.h

For data structure from lima-ng:
drm_lima_m400_gp_frame
drm_lima_pp_frame_reg
drm_lima_pp_wb_reg

So did another rebase for all branches of linux-lima and mesa-lima. This also remind me it's bad idea to include register definition in this API file, will remove them in the future, but lic

[2018-05-08 13:56] koenkooi commented on #54
speaking of rebasing, what's your view on rebasing onto the 18.0 branch (to get 18.0.3) or even the master branch?

[2018-05-08 14:14] yuq commented on #54
Currently I just do rebase for every mesa release (18.0, 18.1). As this driver is still in quite incomplete state, rebase often to get stable fixes (18.0) or new interfaces (master) have less meaning. I'd like to focus on implementing more functionalities. But I think the frequency will increase when the driver gets more completed like the kernel part.

[2018-05-08 15:21] anarsoul commented on #26
I'm currently on vacation. Will check in 1.5 weeks

On Mon, May 7, 2018, 04:52 Qiang Yu <notifications@github.com> wrote:

[2018-05-08 17:51] koenkooi commented on #54
That makes sense, thanks for the explanation!

[2018-05-12 07:22] stevenvandenbrandenstift opened #55 "how you complete MESA 18 ?"
Hello,

I tried compiling MESA via scons,
But with what does it compile ?

And how to generate the configure script ? In case of using Autotools is still supported as in the Wiki ?

[2018-05-12 07:29] yuq commented on #55
I haven't used scons to compile mesa before, just use autotools for it. "configure" file is generated with the "autogen.sh" script.

[2018-05-12 07:29] 7134956 commented on #55
For installation in the user's directory something like this.
[code]
To start applications like that.

[code]

[2018-05-12 07:45] stevenvandenbrandenstift commented on #55
Thanks a lot. Maybe this can be added to the Wiki , i am going to test this on a protab 255 XXL tablet with an A10 allwinner chipset.

[2018-05-13 05:27] yuq commented on #53
Help from Alyssa:
"
Utgard and Midgard have identical formats for tiled textures. So, I
modified the limare code for texture tiling to improve the flexibility
and maybe performance. It might be useful for lima.
https://gitlab.freedesktop.org/panfrost/panloader/blob/develop/trans/limare-swizzle.c
"

[2018-05-13 13:17] yuq commented on #37
Progress update:
1. switch to use TTM as MM is done, but I left the buffer eviction and swap not implemented because I don't know if GP/PP support MMU fault recovery (mali kernel driver doesn't implement it either), need reverse engineering. Otherwise we may implement it by pin/unpin buffer when task creation/deletion.
2. implement EGL_ANDROID_native_fence_sync for atomic modesetting, "kmscube -A"

[2018-05-13 23:48] anarsoul commented on #53
We also need untiling routine. Basically we need to plug tiling/untiling routines into lima_transfer_map() and lima_transfer_unmap(). Scanout buffer should be kept untiled, but it cannot be used as texture later (at least not without a copy).

[2018-05-14 00:48] anarsoul commented on #37
@yuq please CC me on your RFC patches

[2018-05-14 01:02] yuq commented on #37
@anarsoul no problem.

[2018-05-14 01:21] yuq commented on #53
Yes, we need it anyway. If mali GPU has a format converter DMA, we can use it too. I see in mali kernel driver there's DMA IOREG but never used.

I still doubt that mali doesn't support aligned linear texture. Maybe only because we haven't found where's the setting. I'm thinking if there's a case that mali binary driver has to use an aligned linear texture so that we can write a test for dump.

[2018-05-14 01:27] anarsoul commented on #53
Tiled textures should be faster, so we'll have to support them anyway. As for aligned linear textures - limare comment says that proprietary driver uses linear format for large textures. So could you try running your demo with 1300x1300 texture?

[2018-05-14 02:37] yuq commented on #53
Tried 1300x1300, same tiled texture. I think I have to setup a mali driver supporting gbm interfaces for this.

[2018-05-14 03:41] anarsoul commented on #53
@yuq could you try setting layout to 1 or 2 in lima_update_tex_desc() in lima? I don't have access to my setup atm to test.

[2018-05-14 04:04] yuq commented on #53
What's the purpose of this? I'm investigating the aligned linear texture desc setup, not the tiled texture desc setup.

[2018-05-14 04:07] anarsoul commented on #53
@yuq layout = 3 enables tiling, and looks like pitch is aligned to 16 in this case. layout = 0 is linear, and pitch equals width. I wonder if layout = 1 or layout = 2 is linear texture with aligned pitch.

[2018-05-15 23:08] shadeslayer commented on #53
I tried running weston and Plasma with layout = 1 and 2 ( as well as setting flag0 to both 0 or 1 ).

With Weston, on all 4 configurations, I got nothing on the screen.
With Plasma, on all 4 configurations, I got a garbled cursor on the screen.

So perhaps linear textures don't work?

[2018-05-17 15:11] mmind commented on #26
@yuq it looks like your recent changes really did improve things. The kmscubs is now rotating here on the mali450 in 1080p for like 5 minutes without any glitches, where it failed after some seconds previously.

And it also exits cleanly now.

[2018-05-17 22:08] yuq commented on #26
@mmind Nice to hear it's OK for you now.

[2018-05-17 23:26] #54 closed

[2018-05-21 05:40] yuq commented on #37
RFC has been send:
https://lists.freedesktop.org/archives/dri-devel/2018-May/177314.html

[2018-05-24 00:43] anarsoul opened #56 "Recombine FS inputs into vectors"
NIR splits outputs and inputs in nir_lower_io_to_scalar_early() and unfortunately for FS it means increased number of instructions and increased register pressure.

We need to recombine inputs from scalar to vectors.

See https://www.mail-archive.com/mesa-dev@lists.freedesktop.org/msg189216.html

[2018-05-24 02:02] yuq commented on #56
Right, I also meet this problem after 18.0 rebase. But due to want to focus on kernel, I haven't solve it from the root. Now I'm doing 18.1 rebase, so will cover these NIR changes in a better way.

[2018-05-25 06:32] anarsoul commented on #56
kmscube -M rgba fails in lima-18.0 branch due to this issue with "ppir: ppir: regalloc fail"

[2018-05-25 06:35] anarsoul commented on #56
[code]

[2018-05-25 07:10] yuq commented on #56
In fact, even we don't recombine scalar to vector, ppir should not fail, but only generate longer code. This "regalloc fail" is indeed the ppir need to implement reg spill when out of regs.

[2018-05-25 07:17] anarsoul commented on #56
As far as I understand we need to reverse engineer how temporaries work first. I see store and load temporary instructions in the doc, but I don't understand where they're stored.

[2018-05-25 07:23] yuq commented on #56
I guess it's here:
https://github.com/yuq/mesa-lima/blob/lima-18.0/include/drm-uapi/lima_drm.h#L107

Each PP can have a memory stack which I guess is used to store tmp.

[2018-05-25 17:34] anarsoul commented on #56
There're 2 stack_address, one in lima_pp_frame_reg, another in drm_lima_m400_pp_frame/drm_lima_m450_pp_frame.

I'm not sure what's the difference between them.

[2018-05-25 23:22] yuq commented on #56
lima_pp_frame_reg one is dummy, drm_lima_m400_pp_frame one is used, one for each PP.

[2018-05-26 07:23] anarsoul commented on #56
@yuq how do you tell which one is dummy?

[2018-05-26 11:08] mirh commented on #37
Soo.. I noticed a guy noticed you are missing some Mali architectures there.
You can even add ARCH_U8500, ARCH_HISI, ARCH_MEDIATEK, ARCH_SPRD, ARCH_ZX and ARCH_TANGO

[2018-05-26 12:10] yuq commented on #56
In this function:
https://github.com/yuq/linux-lima/blob/lima-4.17-rc4/drivers/gpu/drm/lima/lima_pp.c#L303

LIMA_PP_FRAME & LIMA_PP_STACK are per PP, so the lima_pp_frame_reg will be set to new value before task start.

[2018-05-26 12:18] yuq commented on #37
Oh, I didn't know there're so many ARCH. Now I decide to just write like this:
ARM || ARM64 || COMPILE_TEST

Thanks for your notice.

[2018-05-26 18:48] anarsoul commented on #56
@yuq, what about LIMA_PP_STACK_SIZE?

[2018-05-26 18:50] anarsoul commented on #56
And why LIMA_PP_STACK is not used for mali450?

[2018-05-27 00:23] yuq commented on #56
LIMA_PP_STACK is used by mali450 here:
https://github.com/yuq/linux-lima/blob/lima-4.17-rc4/drivers/gpu/drm/lima/lima_pp.c#L321

Just because bcast will set same address to all PPs, so I have to set it
individually for each PP.

LIMA_PP_STACK_SIZE is same for all PPs, so the lima_pp_frame_reg one
is not dummy.

[2018-05-28 11:39] joyqat opened #57 "Qt5 apps on exynos4412 using eglfs crash"
this is the console output, can't figure out why. is this because of misconfiguration?

[code]

[2018-05-28 12:32] yuq commented on #57
Seems due to ppir has un-implemented instructions:
ppir: unsupported nir_op 98
ppir: unsupported nir_op 14
which should be:
nir_op_bcsel
nir_op_fnoise3_4

mesa-lima is still in early dev stage, only some simple tests can run with it.

[2018-05-28 12:34] joyqat commented on #57
thanks for your reply, and sorry for the noise @yuq

[2018-05-28 12:34] #57 closed

[2018-05-28 12:41] yuq commented on #57
It's OK. Hope someday we are able to support QT.

[2018-05-28 15:17] anarsoul commented on #26
It seems to work for me now. Issue can be closed.

[2018-05-28 16:31] anarsoul opened #58 "Add support for tiled textures"
We need to support tiled textures for performance reasons (they're faster to sample for GPU) and as a workaround for issue #53

[2018-05-28 16:33] anarsoul commented on #58
Initial support lives in my branch: https://github.com/anarsoul/mesa-lima/tree/lima-18.0-tiled-textures

It currently has few issues:
1) Texture uploaded by memcpy-ing data to pointer returned by gbm_bo_map() is garbled - driver tries to use tiled textures when possible and apparently we don't support creating resources with modifiers yet.
2) Tiling/untiling is not optimized yet.

[2018-05-28 18:20] anarsoul commented on #57
nir_op_fnoise3_4 should be lowered before it gets to lima ppir compiler. As for nir_op_bcsel - we need to implement it.

[2018-05-30 06:37] anarsoul commented on #58
Rebased onto lima-18.1, not it lives in https://github.com/anarsoul/mesa-lima/tree/lima-18.1-tiled-textures

[2018-05-30 09:56] koenkooi commented on #58
I've built and installed lima-18.1-tiled-textures on an amlogic s905x board, what should I use to test it?

[2018-05-30 15:24] anarsoul commented on #58
@koenkooi for example you can sample from 500x500 texture. Try https://github.com/anarsoul/kmscube - it won't work without tiled textures

[2018-05-31 04:04] anarsoul opened #59 "Lima does clear unconditionally for each frame"
Lima driver does clear unconditionally for each frame and it breaks EGL_BUFFER_PRESERVED. As result, weston doesn't work properly - screen has to be repainted completely on each draw.

I believe we need to do clear only when lima_clear() is called.

[2018-05-31 07:00] koenkooi commented on #58
both 'kmscube-anarsoul' and 'kmscube-anarsoul -M rgba' show a spinning cube on the screen. Picture of the rgba one attached.

[code]
![img_0410](https://user-images.githubusercontent.com/259525/40766789-f36a7f5a-64b0-11e8-800a-f52e2de1b0ae.jpg)

[2018-05-31 07:15] anarsoul commented on #58
@koenkooi thanks for testing. It should also work with weston once we fix issue #59

[2018-05-31 07:51] koenkooi commented on #59
Is weston supposed to output something with the current state of mesa-lima or with using your texture branch? In both cases I just get a black screen on s905x/mali450. A rk3328/mali450 board arrived this week, but I didn't have the time yet to boot that yet to rule out meson-drm related issues.

[2018-05-31 08:37] mmind commented on #26
Everybody seems to be happy now. So clean up the issue list a bit :-)

[2018-05-31 08:37] #26 closed

[2018-05-31 15:29] anarsoul commented on #59
Yes, it outputs something before you move cursor. Once you move it you'll see black screen with cursor. If you open a terminal (left click in top left corner) - you'll see a terminal window.

[2018-06-01 09:33] yuq commented on #59
From the dump, mali blob driver will do clear even user does not call glClear when EGL_BUFFER_DESTOYED. But when EGL_BUFFER_PRESERVED, lima_pp_wb_reg[0] and lima_pp_wb_reg[1] will be set to different target address, lima_pp_wb_reg[1] is the real target.

https://gist.github.com/yuq/0df522caf1514b4758623fac36088533
https://gist.github.com/yuq/7a0404ce79fbafc25431967ecf5d62fb

[2018-06-01 16:25] anarsoul commented on #59
So what is in lima_pp_wb_reg[0] then if it's not a real target?

[2018-06-02 01:20] yuq commented on #59
I have no idea as it's not dumped out, but should be a buffer used for write. Maybe some aux/tmp/mirror buffer? In fact I don't know why there're three wb and what's each wb used for except the single wb case.

[2018-06-02 01:40] anarsoul commented on #59
I see. I guess we need better dumping tool - one that can actually parse command stream.

[2018-06-05 02:09] enunes commented on #56
I'll have some time to work on lima again starting by the end of this week. If nobody is currently working on this, I could pick it up and work on it.

From what I understand there are two issues,
1) recombine scalars to vec4 to restore the earlier behavior and
2) implement register spilling to avoid this kind of problem in the future

Is that correct?
Anybody working in any of these?

Just to be

[2018-06-05 02:21] yuq commented on #56
I think you are right. 2 is needed anyway for correctness and 1 is for better performance. But 1 needs to be done also because I wrote ppir for vec4, not for scalar, some refine or recombine may be needed for correctness.

[2018-07-14 16:47] #55 closed

[2018-11-20 12:56] warpme commented on #3
Can anybody update me with usablility current mesa-lima? I built mesa-lima/linux-mali accordingly to https://github.com/yuq/mesa-lima/wiki booting my s905w shows in dmesg lima is loaded. Also I see /dev/dri0 for meson-dp and /dev/dri1 for lima gpu but xorg says: https://pastebin.com/A5iqDA9k Is this expected or I miss something?

[2018-11-20 19:22] chelobaka commented on #3
This place is abandoned. Development moved to https://gitlab.freedesktop.org/lima

[2018-11-20 19:29] warpme commented on #3
ok thx
I put my question in gitlab: https://gitlab.freedesktop.org/lima/mesa/issues/69